__pycache__/BaseWidget.cpython-312.pyc
__pycache__/BaseWidget.cpython-312.pyc
__pycache__/ImageDialog.cpython-312.pyc
imv.py
__pycache__/BaseWidget.cpython-312.pyc
__pycache__/ImageDialog.cpython-312.pyc
__pycache__/InfoDialog.cpython-312.pyc
__pycache__/CoreLossDialog.cpython-312.pyc
__pycache__/BaseWidget.cpython-312.pyc
